body{
  display: grid;
  font-size: 16px;
  color: #3B3B3B;
  font-family: 'Open Sans', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}
/* Row 1.1 LEFT */
nav {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 18%;
}

.nav_ulLeft{
  grid-column: 1;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav_ulLeft > li {
  list-style-type: none;
  padding:0px 0px 0px 20px;
}

.nav_img{
  width: 200px;
  padding-top: 3px;
}

/* Row 1.2 CENTER */
.nav_ulCenter {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_ulCenter > li {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

/* Row 1.3 RIGHT */
.nav_ulRight {
  grid-column: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_ulRight > li {
  list-style-type: none;
  padding: 5px 20px 5px 20px;
}

.nav_blueButton {
  color: white;
  background-color: #5D27FF;
  border-radius: 5px 0px 0px 5px;
}

.nav_greyButton {
  color: black;
  background: #D0D0D0;
  border-radius: 0px 5px 5px 0px;
}

/* Row 2 */
header {
  grid-row: 2;
}

h1 {
  text-align: center;
  padding: 32px 0px 32px 0px;
  font-weight: 100;
}

/* Row 3.1 LEFT*/
.capabilities {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  color:#3B3B3B;
}

.capabilities_title{
  font-weight: 900;
  font-size: 120%;
  padding-bottom: 8px;
  padding-top: 4px;
}

.capabilities_ulLeft {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9EDF2;
  padding:30px 0px 30px 100px;
}

.capabilities_ulLeft > li {
  list-style-type: none;
}

.capabilites_images {
  width:100px;
}

/* Row 3.2 LEFT CENTER */
.capabilities_ulLeftCenter {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9EDF2;
  padding:30px 0px 30px 0px;
}

.capabilities_ulLeftCenter > li {
  list-style-type: none;
}
/* Row 3.3 RIGHT CENTER*/
.capabilities_ulRightCenter {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9EDF2;
  padding:30px 0px 30px 0px;
}

.capabilities_ulRightCenter > li {
  list-style-type: none;
}
/* Row 3.4 RIGHT */
.capabilities_ulRight {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9EDF2;
  padding:30px 100px 30px 0px;
}

.capabilities_ulRight > li {
  list-style-type: none;
  text-align: center;
}

/* Row 4 */
.sellOut {
  grid-row: 4;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  font-size: 130%;
  text-align: center;
}

.sellOut > p {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sellOut p:first-child {
  padding: 32px 0px 32px 0px;
  text-align: center;
}

.sellOut_button {
  background-color: #5D27FF;
  color: white;
  width: 200px;
  display: block;
  margin: auto;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
}

.sellOut_mention {
  padding-top: 8px;
  padding-bottom: 32px;
  font-size: 60%;
}



.sellOut_img {
  width:600px;
  padding-bottom: 64px;
}

/* Row 5 */

.cloud {
  grid-row: 5;
  font-size: 120%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background: #E9EDF2;
}

h2 {
  padding-top: 32px;
  grid-column: 2;
  text-align: center;
  padding-bottom: 16px;
}

.cloud > p {
  grid-column: 2;
  text-align: center;
  padding-bottom: 32px;
}

/* Row  Plans + LEFT 6.1*/
.plans {
  grid-row: 6;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  background: #E9EDF2;
}

.plans_left {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.plans_left > img{
  padding-top: 16px;
  padding-bottom: 16px;
}

.plans_button {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #5D27FF;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  color: white;
}

/* Row 6.2 RIGHT */

.plans_right{
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 1px;
  margin-bottom: 64px;
}

.plans_right > img {
  padding-top: 16px;
  padding-bottom: 16px;
}

.plans_price {
  font-style: italic;
}

/* Row 7 */
.sponso {
  grid-row: 7;
  display: grid;
  grid-template-rows: auto auto;
}

.sponso_top {
  padding-top: 16px;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.sponso_ul{
  grid-row: 2;
  list-style-type: none;
}

.sponso_li > img {
  width: 100px;
}

/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
/* Row 1 */
